@import url(https://fonts.googleapis.com/css?family=Nunito);

.window-top{
 -webkit-app-region: drag;
 background-color: #333333;
 color: #1A8066;
 width: 100%;
 padding: 10px 20px 5px 10px;
}

.window-top-btn{
  -webkit-app-region: no-drag;
}

.window-top span{
  padding: 0px 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body {
  background-color: #090d16;
  font-family: Nunito;
  margin-bottom: 40px;
}

h3 {
  margin-top: 5px;
}

.container-main {
  background-color: #090d16;
  color: white;
}

.container-main a {
  color: white;
}

.text-success {
  color: #21ce99;
}

.text-danger {
  color: #fc4d2d;
}

.form-signin-heading{
  color: white;
}

.btn-primary, .btn-primary:active, .btn-primary:active:focus, .btn-primary:hover{
  background-color: #21ce99 !important;
  color: #000000 !important;
}

.alert-green{
  background-color: #21ce99;
  border: none;
  color: #000000;
}

.btn-primary:hover{
  background-color: #21ce99;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #222428;
  height: 40px;
  color: #9d9d9d;
  padding-top: 10px;
}

#navbar {
  background-color: #222428;
}

.navbar-brand{
  color: #21ce99 !important;
}

.table-responsive {
  border: 0px !important;
}

.table td {
  padding: 20px 0px !important;
  border-top: 1px solid #222428 !important;
  border-bottom: 1px solid #222428 !important;
}

.positions td{
  text-align: center;
}

.table th {
  text-align: center;
  padding: 10px 0px !important;
}

.table tr:hover{
  background-color: #222428;
}

.nav-tabs li.active a{
  color: white;
  border: 1px solid #222428 !important;
  background-color: #333333;
  border-bottom: none;
  border-color: #fff !important;
  border-bottom-color: transparent !important;
}

.nav-tabs li a{
  border: 1px solid #222428;
  border-bottom: none !important;
  border-color: #fff;
}

.nav-tabs li a:hover{
  border: 1px solid #fff;
  background-color: #333333;
  color: white;
  border-bottom: none;
  border-bottom-color: transparent !important;
}

.nav-tabs li.active a:hover{
  border: 1px solid #222428;
  background-color: #333333;
  color: white;
}

.small {
  margin: 0px auto;
  background-color: #333333;
}

.panel-default {
  background-color: #222428;
  border-color: #fff;
}
.panel-default > .panel-heading {
  color: #fff;
  background-color: #333;
  border-color: #fff;
  font-weight: bold;
}

.transfers td{
  text-align: center;
}

.recent-orders td{
  text-align: center;
}

.close{
  opacity: none;
  color: white;
}

.list-group-item{
  background-color: #222428;
}

.search-results{
  position: absolute;
  margin-top: 5px;
}

.search-results div.list-group a.list-group-item{
  background-color: white !important;
  min-width: 220px;
}

.search-results div.list-group a.list-group-item:hover{
  background-color: #faebd7 !important;
}

.btn-green {
  background-color: #222428;
  color: #fff;
  /*text-shadow: #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px;*/

  border: 1px solid #21ce99;
  /*box-shadow: 0 8px 16px 0 rgba(255,255,255,0.1), 0 6px 20px 0 rgba(255,255,255,0.1);*/
}
.btn-green:hover {
  background-color: #121418;
  color: #fff;
}
.btn-warning {
  background-color: #222428 !important;
  color: #fff;
  /*text-shadow: #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px;*/
  border: 1px solid #f0ad4e;
  /*box-shadow: 0 8px 16px 0 rgba(255,255,255,0.1), 0 6px 20px 0 rgba(255,255,255,0.1);*/
}

.btn-warning:hover {
  background-color: #121418;
  color: #fff;
}
